header {
  font-size: large;
  background-color: rgb(255, 136, 173);
  padding:0.6250em 1.2500em; 
}
header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
color:aliceblue  
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background: rgb(84, 161, 100);
    padding:1em;
    margin:1em;
  }
img {
  border: 1em solid rgb(255, 136, 173);
  max-width: 100%;
  height: auto;  
 } 
video {
  border: 1em solid rgb(255, 136, 173);
  max-width: 100%;
  height: auto;  
} 
p, ul, li, a{
  color:rgb(0,0,0,.87);
}
 a {
  color: rgb(0,0,0,.87);
  text-decoration: none;
}
a:hover {
  text-decoration:underline;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color:aliceblue;
}
ul li{
margin: 0.6250em 0 
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color:aliceblue;
}
nav ul li a {
  color:aliceblue;
}
}
footer{
padding: 1.2500em;  
}
footer p{
  font-size: larger;
}